<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In with Phone</title>
  <style>
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 30px;
      color: #024430 !important;
      text-align: center;
      background-color: #fff;
      padding: 30px;
      border-radius: 0.5rem;
      box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
      width: 100%;
      max-width: 420px;
      margin: 0 auto;
      font-family: 'sans-serif', 'serif', 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
      line-height: 28px;
      flex-direction: column;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 20px;
      background-color: #02BD7E;
      font-weight: bold;
      color: #ffffff;
      border: none;
      border-radius: 3px;
      font-size: inherit;
      cursor: pointer;
      max-width: 320px;
      width: 100%;
    }
    .hidden {
      display: none;
    }
  </style>
  <script>

    async function sendUserDataToServer(user_json_url) {
        // Create a JSON object
        const data = {
            user_json_url: user_json_url
        };

        try {
          const response = await fetch('/api/saveUser', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          });
          if (response.ok) {
            console.log('User data sent successfully');
          } else {
            console.error('Failed to send user data');
          }
        } catch (error) {
          console.error('Error:', error);
        }
      }
  

    function loadScript() {
      // Create a script element
      const script = document.createElement('script');
      script.src = 'https://www.phone.email/sign_in_button_v1.js';
      script.async = true;

      // Append the script to the document body
      document.body.appendChild(script);

      // Define the phoneEmailListener function
      window.phoneEmailListener = (userObj) => {
        const { user_json_url, user_country_code, user_phone_number } = userObj;
        document.getElementById('signInContainer').classList.add('hidden');
        document.getElementById('welcomeContainer').classList.remove('hidden');
        document.getElementById('userDetails').innerText = `${user_country_code} ${user_phone_number}`;

         // Send user data to server
         sendUserDataToServer(user_json_url);
      };
    }
  </script>
</head>
<body onload="loadScript()">

  <div id="signInContainer" class="container">
    <img class="phe-login-img" width="250px" src="https://storage.googleapis.com/prod-phoneemail-prof-images/phem-widgets/phe-signin-box.svg" alt="phone email login demo">
    <h1>Sign In</h1>
    <p style="color: #a6a6a6;">Welcome to Sign In with Phone</p>
    <div class="pe_signin_button" data-client-id="YOUR_CLIENT_ID"></div>
  </div>

  <div id="welcomeContainer" class="container hidden">
    <img class="phe-login-img" width="250px" src="https://storage.googleapis.com/prod-phoneemail-prof-images/phem-widgets/phe-signin-success.svg" alt="phone email login demo">
    <div class="phem-card-body">
      <h1>Welcome!</h1>
      <h4 style="line-height: 36px;">You are logged in successfully with <br><span id="userDetails"></span></h4>
    </div>
    <button class="button" onclick="window.location.href = '/'">Back</button>
  </div>

</body>
</html>
